/*logos and icons*/
.logo {
    width:15%;height:15%;
    margin: 20px 20px;
  }
  
  .cart {
    float: right;
    width:3%;height:3%;
    margin: 33px 38px;
    cursor: pointer;
  }
  .account {
    float: right;
    width:3%;height:3%;
    margin: 33px 38px;
    cursor: pointer;
  }
  
  /* Navigation Bar */
  *{
    margin:0;
    padding:0;
    border: 0;
  }

  .sticky {
    position: sticky;
    top: 0;
    width: 100%;
  }
  
  /* Navbar container */
  #navbar {
      overflow: hidden;
      background-color: #333;
      font-family: Arial;
    }
    
    /* Links inside the navbar */
    #navbar a {
      float: left;
      font-size: 16px;
      color: white;
      text-align: center;
      padding: 16px 15px;
      text-decoration: none;
    }
    
    /* The dropdown container */
    .dropdown {
      float: left;
      overflow: hidden;
    }
    
    /* Dropdown button */
    .dropdown .dropbtn {
      font-size: 16px;
      border: none;
      outline: none;
      color: white;
      padding: 16px 16px;
      background-color: inherit;
      font: inherit; /* Important for vertical align on mobile phones */
      margin: 0; /* Important for vertical align on mobile phones */
    }
  
    
    /* Add a red background color to navbar links on hover */
    #navbar a:hover, .dropdown:hover .dropbtn {
      background-color: black;
      color: red;
    }
    
    /* Dropdown content (hidden by default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      width: 50%;
      left: 0;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
  
    
    /* Style links inside the columns */
    .column a {
      float: none;
      color: black;
      padding: 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    
    /* Add a background color on hover */
    .column a:hover {
      background-color: #ddd;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
  
    /*add to cart section*/
  .btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
    border-radius: 13px;
    border: 2px solid grey;
    background-color: white;
    font-family: verdana;

}

.btn:hover {
  background:rgb(196, 196, 202);
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}
.container {
margin-top: 60px;
margin-left: 50px;
margin-right: 50px;
font-family: georgia;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: .5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #EB5757;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #CC4C4C;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
}

/*footer*/
.footer {
    display: grid;
    background: #333;
    margin-top: 275px;
    padding: 40px 20px 55px 20px;
    color: rgb(235, 235, 235);
    grid-template-columns: repeat(3, 1fr);
  }
  
  .mediaicons {
    width: 8%;
    height: 8%;
  }
  
  .footer-white-logo {
    width: 20%; height: 20%;
  }
  
  .socials {
    margin-left: 15px;
  }
  
  .link {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .ayy {
    color: white;
  }